body{
  background-color: blanchedalmond;
}
.drop{
  display: inline-block;
}
.drop button{
  background-color: grey;
  color:aliceblue;
  padding: 10px 15px;
  cursor: pointer;
}
.drop a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.drop .content{
  display: none;
  position: absolute;
  background-color: rgb(231, 231, 231);
}
.drop:hover .content{
  display: block;
}
.drop:hover button{
  background-color: rgb(75, 75, 75);
}
.drop a:hover{
  background-color: green;
}
  position:absolute;
}
.drop:hover .content{
  display:block;
}
.drop:hover button{
  background-color:black;
}
  
