body{
    margin: 0px;
    background-color: rgb(101, 95, 95);e;
}
.main{
    background-color: blue;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 9px 3px rgb(0, 179, 255);
}
.main h1{
    color: beige;
    text-shadow: 4px 4px 2px red;
}
.drop button{
    color: rgb(0, 0, 0);
    background-color: rgb(85, 106, 212);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
}
.drop a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}
.drop .content{
    background-color: aqua;
    position: absolute;
    box-shadow: 3px 3px 2px blue;
    display: none;
    min-width: 100px;
}
.drop:hover .content{
    display: block;
}
.drop{
    display: inline-block;
}
.drop:hover button{
    background-color: rgb(162, 190, 255);
}
.drop a:hover{
    background-color: rgb(6, 100, 100);
}
.series{
    align-items: center;
    padding:10px 60px;
    align-items: center;
    justify-content: center;
    height: 850px;
}
.series #oao{
    padding: 20px 20px;
    border: none;
    background-color: red;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    text-shadow: 2px 4px 4px pink;
    display: inline-block;
    margin-right: 5px;
    width: 400px;
    cursor: pointer;
}
.series #pss{
    padding: 20px 20px;
    border: none;
    background-color: rgb(22, 58, 18);
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    width: 400px;
    cursor: pointer;
}
.series #oao:hover{
    width: 410px;
    background-color: rgb(120, 0, 0);
    box-shadow: 5px 5px 7px red;
}
.series #pss:hover{
    width: 410px;
    background-color: rgb(8, 21, 6);
    box-shadow: 5px 5px 7px rgb(22, 58, 18);
}
